.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #27171726;
    border: 1px solid rgba(0,0,0,.125);
}

.list-group-item:hover {
    background-color: #9a8c8c78;
    cursor: pointer;
}