<div class="container">
  <div class="header">
    <h3>Busca</h3>
    <hr />
  </div>

  <div class="body">
    <div class="row">
      <div class="col-md-12">
          <hr />
      </div>
      <div class="col-md-4">
        <input class="form-control" [(ngModel)]="searchText" placeholder="Filtre o nome aqui">
        <br>
      </div>
      <div class="col-md-3">
          <button class="btn btn-danger" (click)="clearInput()">Limpar</button>
      </div>
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let c of objects | filter : searchText">
            Nome: {{c.nome}} <br /> Idade : {{c.idade}}
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="footer">
    <hr />
  </div>
</div>

