/* You can add global styles to this file, and also import other style files */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

body {
    background-image: url('http://www.1zoom.me/big2/818/305153-alexfas01.jpg');
    color: bisque;
}